/* Whole Section */
.greenCityDoctors, .rosarioDoctors, 
.pmshDoctors, .diosdadoDoctors {
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    white-space: nowrap; /* Prevent wrapping to the next line */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}

/* div for img, p, h1 */
.doctor, 
.rosarioDoctor,
.pmshDoctor,
.diosdadoDoctor {
    width: 250px;
    height: 250px;
    margin-right: 15px; /* Add margin between cards */
    margin-bottom: 20px; 
    text-align: center;
    display: inline-block; /* Display cards inline */
    vertical-align: top;
    justify-content: center;
    align-items: center;
}

.greenCityDoctors h1, 
.greenCityDoctors p {
    color: #333;
}

.greenCityDoctors img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto 10px;
}

.doctor h2,
.doctor p {
    margin: 5px 0;
}

.rosarioDoctor h1, 
.rosarioDoctor p {
    color: #333;
}

.rosarioDoctor img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto 10px;
}

.rosarioDoctor h2,
.rosarioDoctor p {
    margin: 5px 0;
}

.pmshDoctor h1, 
.pmshDoctor p {
    color: #333;
}

.pmshDoctor img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto 10px;
}

.pmshDoctor h2,
.pmshDoctor p {
    margin: 5px 0;
}

.diosdadoDoctor h1, 
.diosdadoDoctor p {
    color: #333;
}

.diosdadoDoctor img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto 10px;
}

.diosdadoDoctor h2,
.diosdadoDoctor p {
    margin: 5px 0;
}